/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../../../components/sass/_modules.scss */
body, html {
  width: 100%;
  height: 100%;
  color: #222;
}

/* line 11, ../../../components/sass/_modules.scss */
body {
  font-family: 'Gotham', 'Helvetica Neue', Helvetica, sans-serif;
}

/* line 15, ../../../components/sass/_modules.scss */
section#top {
  padding: 10%;
  background-color: #efefef;
  /*h1{
  	position: fixed;
  	top: $padding;
  	left: $padding;
  	z-index: 0;
  }*/
}

/* line 27, ../../../components/sass/_modules.scss */
section.slide {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  z-index: 5;
  background-color: #fff;
  color: #fff;
}
/* line 38, ../../../components/sass/_modules.scss */
section.slide h2 {
  font-size: 2em;
  font-weight: bold;
  line-height: 2em;
  padding-left: 2%;
  text-shadow: 1px 1px 2px #000000;
}
/* line 47, ../../../components/sass/_modules.scss */
section.slide p {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1em;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 45%;
  max-width: 350px;
  position: absolute;
  bottom: 15%;
  left: 5%;
}
/* line 60, ../../../components/sass/_modules.scss */
section.slide .caption {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 2em;
  padding-left: 2%;
}
/* line 69, ../../../components/sass/_modules.scss */
section.slide img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 150px;
  z-index: -1;
}

/* line 79, ../../../components/sass/_modules.scss */
section.text {
  padding: 10%;
  background-color: #fff;
  z-index: 5;
  position: relative;
  font-size: 1.3em;
  line-height: 1.7em;
}

/* line 92, ../../../components/sass/_modules.scss */
footer {
  padding: 10%;
  background-color: #efefef;
}

/* line 97, ../../../components/sass/_modules.scss */
h1 {
  font-size: 5em;
}
