*{
	margin: 0;
	padding: 0;
}

body, html{
	width: 100%;
	height: 100%;
}

#wrapper{
	font-family: Gotham, "Helvetica Neue", Helvetica, sans-serif;
	width: 100%;
	height: 100%;
}

.fixed-bg{
	box-sizing: border-box;
	width: 100%;
	min-height: 100%;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	overflow: hidden;
}

#fixed1{ background-image: url('../img/photo1.png'); }
#fixed2{ background-image: url('../img/photo2.png'); }
#fixed3{ background-image: url('../img/photo4.png'); }

.fixed-bg h1{
	font-size: 48px;
	font-weight: normal;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.fixed-bg .description{
	position: absolute;
	bottom: 5%;
	left: 20%;
	width: 60%;
	background-color: rgba(255,255,255,.7);
	box-sizing: border-box;
	color: #222;
	padding: 15px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.scroll-content{
	background-color: #fff;
	box-sizing: border-box;
	padding: 5%;
	overflow: hidden;
}

.scroll-content p{
	width: 60%;
	margin: 0 auto 1em auto;
	line-height: 150%;
}